@{
    ViewData["Title"] = "About";
}

<h1>About KhumaloCraft Emporium</h1>

<div class="row">
    <div class="col-md-6">
        <p>
            James Khumalo is not just an entrepreneur; he is a visionary on a mission. With a deep passion for craftsmanship and a keen eye for artistry, James embarked on a journey to create KhumaloCraft Emporium, an e-commerce platform that transcends borders and connects artisans from around the world with a global audience..
        </p>
        <p>Driven by his vision to showcase the beauty of handcrafted products, James envisioned a platform that not only celebrates the artistry and skill of artisans but also provides them with a sustainable livelihood. His dream is to create a marketplace where artisans can thrive, where their creations are appreciated and valued by a discerning audience.</p>
        
        <p>
            With James at the helm, KhumaloCraft Emporium is not just a marketplace; it is a testament to the beauty of diversity, the power of creativity, and the strength of community. James Khumalo's dream is not just to create a successful business; it is to create a legacy that celebrates the richness and diversity of our world's artisanal heritage.
        </p>
    </div>
    <div class="col-md-6">
        <img src="~/images/mr-khumalo.jpg" class="img-fluid" alt="Mr Khumalo">
        <p class="image-reference">Image source: https://images.pexels.com/photos/2379429/pexels-photo-2379429.jpeg</p>
    </div>
</div>