@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">KHUMALOCRAFT EMPORIUM</h1>
        <p>GENUINE AFRICAN CRAFT PRODUCTS</p>
    </div>

    <div class="row">
        <div class="col">
            <img src="~/images/image1.jpg" class="img-fluid" alt="Image 1">
            <p>Image 1</p>
        </div>
        <div class="col">
            <img src="~/images/image2.jpg" class="img-fluid" alt="Image 2">
            <p>Image 2</p>
        </div>
        <div class="col">
            <img src="~/images/image3.jpg" class="img-fluid" alt="Image 3">
            <p>Image 3</p>
        </div>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="https://sp-ao.shortpixel.ai/client/to_auto,q_glossy,ret_img,w_225/https://basketsofafrica.com/wp-content/uploads/2022/07/Uganda-Rwenzori-Basket-Weaver-home.jpg" target="_blank">Image 1 Source</a>
            </div>
            <div class="col">
                <a href="https://m.media-amazon.com/images/I/7148cb3NSYL._AC_SL1000_.jpg" target="_blank">Image 2 Source</a>
            </div>
            <div class="col">
                <a href="https://www.istockphoto.com/search/2/image-film?page=5&phrase=tanzania+man" target="_blank">Image 3 Source</a>
            </div>
        </div>
    </div>
</footer>
