@{
    ViewData["Title"] = "Welcome";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center mb-4">Welcome to KhumaloCraft Emporium</h1>
            <p class="lead">Explore our collection of handcrafted pieces, each telling a unique story.</p>
            <p>Whether you're looking for a statement piece for your home or a thoughtful gift for a loved one, KhumaloCraft has something for everyone.</p>
            <p>Start browsing our collection today and discover the artistry and craftsmanship behind each piece.</p>
            <div class="text-center">
                <a href="/Home/MyWork" class="btn btn-primary mt-3">My Work</a>
            </div>

        </div>
    </div>
</div>